
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<h2>Connect as User</h2>
<button>Go → </button>
<h2>Connect as Faculties</h2>
<button href="">Go → </button>
<h2>Connect as Admin</h>
<button>Go → </button>