@model DTO.TransactionHistoryDTO

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TransactionHistory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AccountId" class="control-label"></label>
                <select asp-for="AccountId" class ="form-control" asp-items="ViewBag.AccountId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DateTime" class="control-label"></label>
                <input asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Src" class="control-label"></label>
                <select asp-for="Src" class="form-control"></select>
                <span asp-validation-for="Src" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionType" class="control-label"></label>
                <select asp-for="TransactionType" class="form-control"></select>
                <span asp-validation-for="TransactionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConversionName" class="control-label"></label>
                <input asp-for="ConversionName" class="form-control" />
                <span asp-validation-for="ConversionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConversionValue" class="control-label"></label>
                <input asp-for="ConversionValue" class="form-control" />
                <span asp-validation-for="ConversionValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

