
@{
    ViewData["Title"] = "Transaction History for users";
}
<!--
<h1>Transaction History for users</h1>
<div class="row">
    <div class="col">
        <div class="form-group">
            <label asp-for="AccountId" class="control-label">User</label>
            <select asp-for="AccountId" class="form-control" asp-items="ViewBag.AccountsSelect"></select>
            <span asp-validation-for="AccountId" class="text-danger"></span>
        </div>
    </div>
</div>-->
