@{
    ViewData["Title"] = "AppUser Index";
}

<button>
    <a asp-action="PayOnline" class="btn btn-primary">Pay Online</a>
</button>
<button>
    <a asp-action="Buy" class="btn btn-primary">Buy</a>
</button>
<button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Return to Homepage</a>
</button>
